@using toDoList.Domain.Enum
@{
    ViewData["Title"] = "Home Page";
}

<h4 class="mb-4 text-muted">Создай задачу</h4>

<form id="createTaskForm">
    <div class="mb-4">
        <input name="name" type="text" class="form-control" placeholder="Название задачи"/>
    </div>
    <label class="text-muted">Приоритет задачи</label>
    <select name="priority" class="form-select mb-4" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-4">
        <textarea name="description" type="text" class="form-control" placeholder="Описание задачи"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Создать</button>
</form>

@section Scripts{
    <!--swalfire lib-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        //request for completion form
        $('#createTask').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Хорошо',
                    })
                },
                error: function (response) {
                     Swal.fire({
                            title: 'Информация',
                            text: response.responseJSON.description,
                            icon: 'error',
                            confirmButtonText: 'Ой, ой что-то не так',
                        })
                }
            })
        });
    </script>
}
